@font-face {
    font-family: 'Cera Round Pro';
    src: url('путь_к_шрифту/CeraRoundPro.woff2') format('woff2'),
         url('путь_к_шрифту/CeraRoundPro.woff') format('woff'),
         url('путь_к_шрифту/CeraRoundPro.ttf') format('truetype'),
         url('путь_к_шрифту/CeraRoundPro.eot') format('embedded-opentype');
}
  
body {
    color: #2D2D2D;
    font-family: 'Cera Round Pro', sans-serif;
    font-weight: medium;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
/* Шапка сайта */
.header__logo {
    width: 100%;
    height: 80px;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header__logo-img {
    margin-left: 5vw;
}

.header__logo-img img{
    height: 36px;
    width: 147px;
}

/* Баннер */
.header__banner-wrapper {
    background-color: #F2F6F8;
}

.header__banner {
    display: flex;
    padding: 88px 5% 89px 5%;
    justify-content: space-between;
}

.header__banner-title {
    font-size: 30px;
    font-weight: bold;
}

.header__banner-list {
    font-family: 'Open Sans', sans-serif; 
    color: #555555;
    font-size: 16px;
    margin-top: 0.76vh;
    margin-bottom: 2.28vh;
    line-height: 2;
}

.header__banner-button {
    padding: 12px 60px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #C81059;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.header__banner-button:hover {
    background-color: #0099C8;
}

/* Основная часть */
.tariff-plans {
    margin: 52px 4.5vw 0 4.5vw;
}

.tariff-plans__title {
    font-size: 28px;
}

/* Основные стили для карусели */
.owl-carousel .owl-stage-outer {
    overflow: hidden;
    position: relative;
    margin-top: 2.5vh;
}
.owl-carousel .owl-item:last-child {
    opacity: 0.5;
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 83px;
}

/* Стили для элементов карусели */
.tariff-plans__item {
    width: 34.7vw;
    height: 481px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.tariff-plans__item-title {
    font-size: 20px;
}

.tariff-plans__item-speed{
    font-size: 14px;
    color: #ACACAC;
}

.tariff-plans__item-value {
    font-size: 25px;
}

.tariff-plans__item-description {
    font-size: 13px;
    color: #555555;
}

.tariff-plans__item-checkbox {
    display: flex;
    font-size: 14px;
    color: #2D2D2D;
}

.tariff-plans__item-checkbox input{
    margin-right: 15px;
}

[type="checkbox"] {
    accent-color: #0099C8; 
    color: #555555;
    transform: scale(2);
    cursor: pointer;
}

.tariff-plans__item-price-value {
    font-size: 30px;
    font-weight: bold;
    color: #2D2D2D;
}

.tariff-plans__item-price {
    font-size: 14px;
    color: rgba(85, 85, 85, 0.5);   
}

.tariff-plans__item-note {
    font-size: 12px;
    color: rgba(85, 85, 85, 0.5);   
}

.tariff-plans__item-speed,
.tariff-plans__item-value,
.tariff-plans__item-description,
.tariff-plans__item-price,
.tariff-plans__item-note {
    margin-bottom: 5px;
}

.tariff-plans__item-checkbox {
    margin-bottom: 10px;
}

.tariff-plans__item-checkbox-label {
    display: block;
}

.tariff-plans__item-button {
    padding: 12px 80px;
    font-size: 14px;
    border-radius: 5px;
    background-color: #C81059;
    border: none;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tariff-plans__item-button:hover {
    background-color: #0099C8;
}

/* Подвал */
.footer__wrapper {
    height: 97px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footer__logo-img {
    height: 36px;
    width: 147px;
}

.footer__text p {
    color: #C2C2C2;
    font-size: 14px;
    margin-top: 1vh;
}

/* ----------------------------Стили для адаптивности ------------------------------------------------------------------- */
@media (max-width: 768px) {

    /* Баннер*/
    .header__banner {
        display: flex;
        padding: 35px 5% 35px 5%;
        flex-direction: column-reverse;
    }

    .header__banner-title {
        font-size: 20px;
        font-weight: bold;
    }

    .header__banner-button {
        padding: 11px 108px;
        font-size: 12px;
    }
    
    .header__banner-list {
        font-family: 'Open Sans', sans-serif; 
        color: #555555;
        font-size: 13px;
        margin-top: 0.76vh;
        margin-bottom: 2.28vh;
    }

    .header__banner-img img{
        width: 350px;
    }

    /* Основная часть */
    .tariff-plans {
        margin: 35px 4.5vw 0 4.5vw;
    }

    .tariff-plans__title {
        font-size: 18px;
    }

    /* Стили для элементов карусели */
    .tariff-plans__item {
        width: 204px;
        height: 413px;
    }

    .tariff-plans__item-title {
        font-size: 16px;
    }

    .tariff-plans__item-speed{
        font-size: 10px;
    }

    .tariff-plans__item-value {
        font-size: 17px;
    }

    .tariff-plans__item-description {
        font-size: 12px;
    }

    .tariff-plans__item-checkbox {
        font-size: 12px;
    }

    .tariff-plans__item-checkbox input{
        margin-right: 14px;
    }

    .tariff-plans__item-price-value {
        font-size: 18px;
    }

    .tariff-plans__item-price {
        font-size: 14px; 
    }

    .tariff-plans__item-note {
        font-size: 10px;
    }
    .tariff-plans__item-button {
        padding: 11px 49px;
        font-size: 12px;
    }

    /* Подвал */
    .footer__logo {
        display: flex;
        width: 50%;
        justify-content: space-between;
        flex-direction: column;
    }

    .footer__text p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {

    /* Баннер*/
    .header__banner-img img{
        width: 226px;
    }
}
